<%- include('header.ejs') %>
<div class="container main-container p-2 mt-4">
  <main>
    <h1>Bienvenido a Mi Portafolio</h1>
    <p>
      ¡Hola! Soy <%= nombre%>.
    </p>
    <p>
      <%= descripcion%>
    </p>
    <p>En mi portafolio, encontrarás ejemplos de mi trabajo y proyectos.</p>
  </main>
</div>

<%- include('footer.ejs') %>
